#js {
  position: relative;
  left: 10rem;
  top:3rem;
}

#html {
  position: relative;
  top:12rem;
  left: 2rem;
}

#psql {
  position: relative;
  right: 15rem;
  top: 11rem;
}

#css {
  position: relative;
  top: 5rem;
  left: 3rem;
}

#ruby {
  position: relative;
  right: 7rem;
  top:1rem
}

#python {
  position: relative;
  top: 18rem;
  left:1rem;
}

#react {
  position: relative;
  left: 18rem;
  top:8rem
}

#ps {
  position: relative;
  left: 15rem;
  top:11rem
}

#illustrator {
  position: relative;
  left:7rem;
  top:2rem;
}

#fm {
  position: relative;
  top: 10rem;
  left: 2rem;
}

#express {
  position: relative;
  top: 12rem;
  right:4rem;
}

#pr {
  position: relative;
  top: 14rem; 
  right: 9rem;
}

#jest {
  position: relative;
  top: 18rem;
  right: 2rem;
}

#nodejs {
  position: relative;
  top: 4rem;
}

#bootstrap {
  position: relative;
  right:2rem
}