* {
    box-sizing: border-box;
}

body {
  background-image: url('./components/images/background.gif');
  height: 100%;
}

footer {
  position: fixed;
  left: 40%;
  bottom: 0;
  width: 100%;
  color: white;
  justify-content: center;
}