* {
    box-sizing: border-box;
}

body {
  background-image: url('./components/images/background.jpg');
  margin-bottom: -5rem;
}

main {
  margin-bottom: 3rem;
  max-height: 80vh;
}

footer {
  position: fixed;
  bottom: -0.5rem;
  width: 90%;
  color: white;
  margin-top: 2rem;
}